name: CI

on:
  push:
  pull_request:

jobs:
  k8s-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.29.0

      - name: Validate Kubernetes manifests (offline client validation)
        run: |
          kubectl create --dry-run=client -f k8s/namespace.yaml
          kubectl create --dry-run=client -f k8s/apps/nginx/deployment.yaml
          kubectl create --dry-run=client -f k8s/apps/nginx/service.yaml
          kubectl create --dry-run=client -f k8s/apps/node-hello/deployment.yaml
          kubectl create --dry-run=client -f k8s/apps/node-hello/service.yaml

  build-node-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push node-hello image
        uses: docker/build-push-action@v6
        with:
          context: ./apps/node-hello
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/lab-1/node-hello:main
